<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem;
  }

  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .search-btn i {
    margin-right: 0.5rem;
  }

  .search-form input,
  .search-form select {
    min-width: 150px;
  }

  @media (max-width: 768px) {
    .search-form {
      flex-direction: column;
      align-items: stretch;
    }

    .search-form input,
    .search-form select,
    .search-btn {
      width: 100%;
      margin-bottom: 0.5rem;
    }

  }
  
</style>

<nav class="navbar navbar-expand-md navbar-light border-bottom shadow-sm animated-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- Left nav -->
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <!-- Centered search form -->
      <form id="liveSearchForm" class="search-form d-flex flex-nowrap align-items-center gap-2 mx-md-auto my-2"
        action="/listings" method="GET" style="position: relative;">

        <input class="form-control" id="liveSearchInput" type="search" name="q" placeholder="Search Destinations"
          aria-label="Search" />

        <input class="form-control" type="number" name="minPrice" placeholder="Min Price" min="0" />

        <input class="form-control" type="number" name="maxPrice" placeholder="Max Price" min="0" />

        <select class="form-select" name="sort">
          <option value="">Sort</option>
          <option value="lowToHigh">Price: Low to High</option>
          <option value="highToLow">Price: High to Low</option>
        </select>

        <button class="search-btn btn d-flex align-items-center" type="submit">
          <i class="fa-solid fa-magnifying-glass me-1"></i> Search
        </button>

        <div id="searchSuggestions" class="list-group position-absolute top-100 start-0 mt-1 w-100 z-3"></div>
      </form>


      <!-- Right nav -->
      <div class="navbar-nav ms-auto">
        <button id="darkModeToggle" class="btn btn-outline-dark me-2">
          <i class="fa-solid fa-moon"></i>
        </button>
        <a class="nav-link" href="/listings/new">Airbnb your Home</a>
        <% if (!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
          <% } else { %>
            <a class="nav-link" href="/logout"><b>Log out</b></a>
            <% } %>
      </div>
    </div>
  </div>
</nav>